// Confirm Delete Modal
.modal.fade#confirm_delete_modal(tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalTitle" aria-hidden="true")
  .modal-dialog.modal-dialog-centered(role="document")
    .modal-content
      .modal-header.bg-danger
        h3.modal-title.text-white#confirmDeleteModalTitle(style="font-weight: 700") Confirm Deletion
        button.close(type="button" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
      .modal-body
        p Are you sure you want to delete #[b.name ]?
      .modal-footer
        button.btn.btn-secondary.text-secondary(type="button" data-dismiss="modal") Close
        button.btn.btn-danger(type="button") Delete