extends layout

block content
  .container1-page
    // breadcrumb
    .bread-crumb.bgwhite.flex-w.p-l-52.p-r-15.p-t-30.p-l-15-sm
      a.s-text16(href="/admin")
        | Dashboard
    // Content page
    section.bgwhite.p-t-55.p-b-65
      .container